/* image design  */
img {
  width: 600px;
  padding: 10px;
}
/* intro part design  */
.intro-section-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

/* course details  */
.course-support {
  color: #9370db;
}
