/* teacher card design  */
.teacher-card {
  border: none;
  box-shadow: 0px 10px 10px 10px #ddd;
}
/* icon tag design  */
.intro i {
  font-size: 25px;
  margin: 10px 5px;
  cursor: pointer;
}
/* facebook incon design  */
.fa-facebook {
  color: #077ae9;
}
/* twitter Icon design  */
.fa-twitter {
  color: #0f9afb;
}
